########################################
# 🔧 HTTP Server
########################################

# HTTP Server port
PORT=8080


########################################
# 🔥 Firestore Config
########################################

# Select between [cloud / emulator] for the firestore mode
FIRESTORE_MODE=cloud

# If [FIRESTORE_MODE = emulator] was selected, set appropiate hostname and port.
FIRESTORE_EMULATOR_HOST_CONFIG=localhost:8081


########################################
# 🗂️ Storage Config
########################################

# Select between [cloud / emulator] for the storage mode.
STORAGE_MODE=emulator

# f [STORAGE_MODE = emulator] was selected, set appropiate hostname and port.
STORAGE_EMULATOR_HOST_CONFIG=localhost:9199

# Specify photos bucket name in the storage. make sure the bucket exist, if storage mode is cloud
STORAGE_BUCKET_NAME=default


########################################
# 🔐 Firebase Credentials
########################################

# Project ID visible on the main page of Firebase Console
FIREBASE_PROJECT_ID=your-project-id

# Generated at: Project Overview > Service Accounts > Generate new private key
FIREBASE_CREDENTIALS_PATH=/path/to/your/private/key.json


########################################
# 🛡️ JWT Signature Secret
########################################

# Specify secret for creating JWT signatures.
JWT_SECRET=yoursecretcode


########################################
# 🧪 Database Initialization (optional)
########################################

# Specify, if database should be filled with example data upon connection.
DB_POPULATE=false

# (If DB_POPULATE=true) specifies example spots data file location - requires json formating
DB_SPOTS=./assets/seeds/spots.json
DB_REVIEWS=./assets/seeds/reviews.json
DB_USERS=./assets/seeds/users.json
