# Secrets!
/keys/
.env

# Firebase emulator files
*firebase-debug.log
/firebase-emulator/
/storage-emulator/
/firebase_ui/

# Firebase config
.firebaserc
firebase.json

# Firestore emulator files
firestore-debug.log

# Storage config
storage.rules
